@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.headings {
    font-family: 'Unica One', cursive;
    color: #9B6438;
}

.btn {
    background-color: #9B6438;
    }

.words{
    color: #794e2b
}    