.carousel-inner {
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: .5cm;    
}
.caption{
    color: black;
}
  
    .carousel-item{
    margin-top: -150px;
    }
    
    .phoneImg{
    position: absolute;
    margin: auto;
    }
    .imgOne{
    position: relative;
    margin-top: 0%;
    margin-left: 5%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
    .imgTwo{
    position: relative;
    margin-top:-45%;
    margin-left: 25%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
    .imgThree{
    position: relative;
    margin-top:-20%;
    margin-left: -14%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
    .imgFour{
    position: relative;
    margin-top:-20%;
    margin-left: 15%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
    